<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.lcl.mapper.ThingMapper">
    <select id="getCreatedThingsByUserId" resultType="cn.lcl.pojo.vo.ThingCreatedListOneVO">
        select t.*,
               tag.tag_name,
               sum(tr.has_read)   readCount,
               sum(tr.has_finished) finishedCount,
               count(tr.id)       receiversCount
        from thing t
                 left join thing_receiver tr on t.id = tr.thing_id
                 left join thing_tag tt on t.id = tt.thing_id
                 left join tag on tt.tag_id = tag.id
        where t.creator_id = #{userId}
          and t.delete_flg = 0
          and tr.delete_flg = 0
          and tt.delete_flg = 0
          and tag.delete_flg = 0
        group by t.id, t.create_time, tag.tag_name
        order by t.create_time desc
    </select>

    <update id="deleteThingById" parameterType="java.lang.Integer">
    update thing
    set delete_flg = 1
    where id = #{thingId}
</update>

    <select id="getCreatedThingsExpectTag" resultType="cn.lcl.pojo.vo.ThingCreatedListOneVO">
    select t.*,
    sum(tr.has_read)   readCount,
    sum(tr.has_finished) finishedCount,
    count(tr.id)       receiversCount
    from thing t
    left join thing_receiver tr on t.id = tr.thing_id
    where t.creator_id = #{userId}
    and t.delete_flg = 0
    and tr.delete_flg = 0
    group by t.id, t.create_time
    order by t.create_time desc
</select>

    <select id="getCreatedThingsAddIf" resultType="cn.lcl.pojo.vo.ThingCreatedListOneVO">
    select t.*,
    sum(tr.has_read)   readCount,
    sum(tr.has_finished) finishedCount,
    count(tr.id)       receiversCount
    from thing t
    left join thing_receiver tr on t.id = tr.thing_id
    where t.creator_id = #{userId}
    and t.delete_flg = 0
    and tr.delete_flg = 0

    group by t.id, t.create_time
    order by t.create_time desc
</select>


    <select id="getCreatedThingAboutReceiverNum" resultType="cn.lcl.pojo.vo.ThingCreatedVO">
        select sum(tr.has_read)   readCount,
               sum(tr.has_finished) finishedCount,
               count(tr.id)       receiversCount
        from thing t
                 left join thing_receiver tr on t.id = tr.thing_id
        where t.id = #{thingId}
          and t.delete_flg = 0
          and tr.delete_flg = 0
    </select>
    <select id="getThingById" resultType="cn.lcl.pojo.Thing">
        select t.*, u.real_name, tag.tag_name
        from thing t
                 left join user u on t.creator_id = u.id
                 left join thing_tag tt on t.id = tt.thing_id
                 left join tag on tt.tag_id = tag.id
        where t.id = #{thingId}
          and t.delete_flg = 0
          and u.delete_flg = 0
          and tt.delete_flg = 0
          and tag.delete_flg = 0
    </select>

    <select id="getThingById11" resultType="cn.lcl.pojo.Thing">
        select t.*, u.real_name
        from thing t
                 left join user u on t.creator_id = u.id
        where t.id = #{thingId}
          and t.delete_flg = 0
          and u.delete_flg = 0
    </select>


    <select id="getTagByThingId" resultType="cn.lcl.pojo.Tag">
        select t.*
        from tag t
                 left join thing_tag tt on t.id = tt.tag_id
        where tt.thing_id = #{thingId}
          and t.delete_flg = 0
          and tt.delete_flg = 0
    </select>

    <select id="getCreatedThings" resultType="cn.lcl.pojo.vo.ThingCreatedListOneVO">
        SELECT t.*,
        sum(tr.has_read)   readCount,
        sum(tr.has_finished) finishedCount,
        count(tr.id)       receiversCount
        FROM thing AS t
        INNER JOIN thing_receiver AS tr ON t.id = tr.thing_id
        WHERE t.creator_id = #{userId}
        <if test="data.title != null">AND t.title LIKE CONCAT('%',#{data.title},'%')</if>
        <if test="data.startTime != null">AND t.start_time &gt;= #{data.startTime}</if>
        <if test="data.endTime != null">AND t.end_time &lt;= #{data.endTime}</if>
        <if test="data.hasSendFile != null">AND t.has_send_file = #{data.hasSendFile}</if>
        <if test="data.needAnswer != null">AND t.need_answer = #{data.needAnswer}</if>
        <if test="data.needFileReply != null">AND t.need_file_reply = #{data.needFileReply}</if>
        <if test="data.needFinish != null">AND t.need_finish = #{data.needFinish}</if>
        AND t.delete_flg = 0
        AND tr.delete_flg = 0
        GROUP BY
        t.id,
        t.create_time
        ORDER BY
        t.create_time DESC
    </select>


    <select id="getJoinedThings" resultType="cn.lcl.pojo.vo.ThingCreatedListOneVO">
        select t.*,
        u.real_name,
        tr.has_read,
        tr.has_finished
        from thing t
        left join thing_receiver tr on t.id = tr.thing_id
        left join user u on t.creator_id = u.id
        where tr.user_id = #{userId}
        <if test="data.title != null">AND t.title LIKE CONCAT('%',#{data.title},'%')</if>
        <if test="data.realName != null">AND u.real_name LIKE CONCAT('%',#{data.realName},'%')</if>
        <if test="data.startTime != null">AND t.start_time &gt;= #{data.startTime}</if>
        <if test="data.endTime != null">AND t.end_time &lt;= #{data.endTime}</if>
        <if test="data.hasSendFile != null">AND t.has_send_file = #{data.hasSendFile}</if>
        <if test="data.needAnswer != null">AND t.need_answer = #{data.needAnswer}</if>
        <if test="data.needFileReply != null">AND t.need_file_reply = #{data.needFileReply}</if>
        <if test="data.needFinish != null">AND t.need_finish = #{data.needFinish}</if>
        <if test="data.isRead != null">AND tr.has_read = #{data.isRead}</if>
        <if test="data.isFinished != null">AND tr.has_finished = #{data.isFinished}</if>
        AND t.delete_flg = 0
        AND tr.delete_flg = 0
        AND u.delete_flg = 0
        GROUP BY
        t.id,
        t.create_time
        ORDER BY
        t.create_time DESC
    </select>


    <select id="getTeamThingByTeamId" resultType="cn.lcl.pojo.vo.ThingCreatedListOneVO">
        select t.*,
        u.real_name
        from thing t
        left join thing_team tt on t.id = tt.thing_id
        left join user u on t.creator_id = u.id
        where tt.team_id = #{teamId}
        AND t.delete_flg = 0
        AND tt.delete_flg = 0
        AND u.delete_flg = 0
        GROUP BY
        t.id,
        t.create_time
        ORDER BY
        t.create_time DESC
    </select>
</mapper>